In [4]:
# Import Libaries
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
%matplotlib inline
plt.style.use('ggplot')
from matplotlib import colors
from matplotlib import gridspec
from matplotlib.ticker import StrMethodFormatter
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pickle

In [8]:
data = pd.read_pickle('LSWMD.pkl')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811457 entries, 0 to 811456
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   waferMap        811457 non-null  object
 1   dieSize         811457 non-null  float64
 2   lotName         811457 non-null  object
 3   waferIndex      811457 non-null  float64
 4   trianTestLabel  811457 non-null  object
 5   failureType     811457 non-null  object
dtypes: float64(2), object(4)
memory usage: 37.1+ MB

In [16]:
data.head(10)

,waferMap,dieSize,lotName,waferIndex,trianTestLabel,failureType
0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,1.0,[[Training]],[[none]]
1,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,2.0,[[Training]],[[none]]
2,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,3.0,[[Training]],[[none]]
3,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,4.0,[[Training]],[[none]]
4,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,5.0,[[Training]],[[none]]
5,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,6.0,[[Training]],[[none]]
6,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,7.0,[[Training]],[[none]]
7,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,8.0,[[Training]],[[none]]
8,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,9.0,[[Training]],[[none]]
9,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1683.0,lot1,10.0,[[Training]],[[none]]

In [22]:
data.groupby(['lotName']).size()

lotName
lot1        25
lot10       25
lot100      25
lot10000     2
lot10001     2
            ..
lot9995     25
lot9996     25
lot9997     23
lot9998     23
lot9999     23
Length: 46293, dtype: int64

In [27]:
grouped = data.groupby('dieSize').sum().reset_index()
grouped.sort_values('dieSize', ascending=False)

      dieSize  waferIndex
1265  48099.0       149.0
1264  43935.0        34.0
1263  23216.0       530.0
1262  22372.0       930.0
1261  21934.0       220.0
...       ...         ...
4        34.0        32.0
3        31.0         7.0
2        21.0         8.0
1        12.0         6.0
0         3.0        20.0

[1266 rows x 2 columns]

In [21]:
data.groupby(['dieSize', 'lotName']).size().reset_index(name='counts')

       dieSize   lotName  counts
0          3.0  lot44867       1
1         12.0    lot292       1
2         21.0    lot292       2
3         31.0  lot45034       1
4         34.0  lot40645       1
...        ...       ...     ...
54309  43935.0  lot15297       3
54310  48099.0  lot15277       7
54311  48099.0  lot15278       2
54312  48099.0  lot15279       4
54313  48099.0  lot15302       3

[54314 rows x 3 columns]